body{
    margin: 0;
    background-image: url("images/back_image.avif");
    background-repeat: no-repeat;
    background-size: cover;

}
.container{
    background-color:aliceblue;
    min-height: 100vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.task-area{
    border: 1px solid lightgrey;
    margin-top: 2em;
}

.task-tabs{
    display: flex;
    border-bottom: 1px solid lightgrey;
    position: relative;

}
.task-tabs div{
    padding: 1em;

}
#under-line{
    height: 4px;
    background-color: lightpink;
    position: absolute;
    width: 80px;
    left: 0px;
    top: 52px;
    padding: 0px;
} 
.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}